<% if !user_signed_in? %>
	<h1>KCM STSM Finances</h1><br>
	<p>
	  <%= render 'devise/sessions/new' %>
	</p>
<% elsif @is_admin %>
	<h1>Listing All Finances</h1><br>
<% elsif @is_leader %>
	<h1>Listing Team Finances</h1><br>
<% else %>
	<h1><%= @participant_name %>'s Finances</h1><br>
<% end %>

<p>
	There should be a table here....code monkeys are working on it!
	<%= render 'pages/donationtable' %>
</p>

<footer>
	
</footer>

