<% if !user_signed_in? %>
	<h1>KCM STSM Finances</h1><br>
	<p>
	  <%= render 'devise/sessions/new' %>
	</p>
<% else %>
	<h1><% @first_name %>'s Finances</h1><br>
	<p>
	  There should be a table here....code monkeys are working on it!
	</p>
<% end %>

