<div class = "container">
  <h1>Team Totals Table</h1><br>
  <table class = "table table-striped table-bordered">
    <tr class ="info">
      <td><strong>Team</strong></td>
      <td><strong>Total Cash Amount</strong></td>
      <td><strong>Total Check Amount</strong></td>
      <td><strong>Total Amount</strong></td>
    </tr>
	<% @team_donations.each do |team| %>
	<tr>
	  <td><strong><%= link_to team["team_country"], teammanagement_path(:id => team["team_id"]) %></strong></td>
      <td><%= number_with_precision(team["sum"], :precision => 2, :delimiter => ',') %></td>
	</tr>
	<tr>
      <td><strong>Overall</strong></td>
      <td><%= number_with_precision(@total_amount, :precision => 2, :delimiter => ',') %></td>
    </tr>
	<% end %>
  </table>

</div>